# Filetypes.
*~
*.o
*.a
*.so

# Directories and specific filenames.
/FOR FUTURE USE/
/gens_gs.kdev*

/debug-*/
/release-*/
/build/
/m4/*.m4

.directory

# CMake temproary files.
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
git_version.h
