/***************************************************************************
 * gens-qt4: Gens Qt4 UI.                                                  *
 * gens-qt4.rc: Win32 resource script.                                     *
 *                                                                         *
 * Copyright (c) 1999-2002 by Stéphane Dallongeville.                      *
 * Copyright (c) 2003-2004 by Stéphane Akhoun.                             *
 * Copyright (c) 2008-2015 by David Korth.                                 *
 *                                                                         *
 * This program is free software; you can redistribute it and/or modify it *
 * under the terms of the GNU General Public License as published by the   *
 * Free Software Foundation; either version 2 of the License, or (at your  *
 * option) any later version.                                              *
 *                                                                         *
 * This program is distributed in the hope that it will be useful, but     *
 * WITHOUT ANY WARRANTY; without even the implied warranty of              *
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the           *
 * GNU General Public License for more details.                            *
 *                                                                         *
 * You should have received a copy of the GNU General Public License along *
 * with this program; if not, write to the Free Software Foundation, Inc., *
 * 51 Franklin Street, Fifth Floor, Boston, MA  02110-1301, USA.           *
 ***************************************************************************/

// Resource script for Gens/GS II's Qt4 frontend.
#include <config.gens-qt4.h>
#include <windows.h>
#include "gens-qt4.h"

// git version
#include "libgens/macros/git.h"

// Icons.
IDI_GENS_APP		ICON		"gensgs.ico"
IDI_GENS_APP_OLD	ICON		"gens.ico"
IDI_GENS_MD		ICON		"gens_md.ico"
IDI_SONIC		ICON		"sonic.ico"
IDI_SONIC_WAITING	ICON		"sonic_wait.ico"

// Manifest.
CREATEPROCESS_MANIFEST_RESOURCE_ID	RT_MANIFEST	"gens-qt4.exe.manifest"

// TODO: Define "Development Build" as VERSION_DESC or something.
// TODO: Update all version definitions to match libzomg.
// Also update libgens, etc. to match libzomg.
#define GENS_GS_VERSION VERSION_STRING " (Development Build)"
#define GENS_VERSION_WIN32 VERSION_MAJOR,VERSION_MINOR,VERSION_PATCH,VERSION_DEVEL

#ifdef GENS_GIT_VERSION
#define Win32_RC_FileVersion GENS_GS_VERSION "\r\n" GENS_GIT_VERSION
#else /* !GENS_GIT_VERSION */
#define Win32_RC_FileVersion GENS_GS_VERSION
#endif /* GENS_GIT_VERSION */

// Application Version
VS_VERSION_INFO VERSIONINFO
	FILEVERSION GENS_VERSION_WIN32
	PRODUCTVERSION GENS_VERSION_WIN32
	FILEFLAGSMASK 0x3fL
#ifdef _DEBUG
	FILEFLAGS 0x1L
#else
	FILEFLAGS 0x0L
#endif
	FILEOS 0x40004L
	FILETYPE 0x1L
	FILESUBTYPE 0x0L
BEGIN
	BLOCK "StringFileInfo"
	BEGIN
		BLOCK "040904b0"
		BEGIN
			//VALUE "Comments", ""
			//VALUE "CompanyName", ""
			VALUE "FileDescription", "Gens/GS II (Qt4 frontend)"
			VALUE "FileVersion", Win32_RC_FileVersion
			VALUE "InternalName", "Gens/GS II (Qt4 frontend)"
			//VALUE "LegalCopyright", ""
			//VALUE "LegalTrademarks", ""
			//VALUE "OriginalFilename", ""
			//VALUE "PrivateBuild", ""
			VALUE "ProductName", "Gens/GS II (Qt4 frontend)"
			VALUE "ProductVersion", Win32_RC_FileVersion
			//VALUE "SpecialBuild", ""
		END
	END
	BLOCK "VarFileInfo"
	BEGIN
		VALUE "Translation", 0x409, 1200
	END
END
